@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
   margin: 0;
   padding: 0;
   font-family: 'Poppins';
}

.perfil img {
  width: 75%;
  height: 100%;
}

.footer img {
  width: 35px; 
  height: 35px;
}

.container {
  display: grid;
  grid-template-rows: repeat(7,100px);
  grid-template-columns: repeat(7,100px);
  background: #f4f4f4;
  margin: 1em;
  border-radius: 2%;
  -webkit-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.63);
  -moz-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.63);
  box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.63);
}

.capitular {
  grid-row: 2;
  grid-column: 4 / 9;
  color: #706f6f;
  font-weight: 300;
  font-size: 24px;
  align-self:flex-end;
}

.titulo {
    grid-row: 3;
    grid-column: 4 / 9;
    color: #e76f51;
    font-weight: 500;
    font-size: 80px;
}

.info {
    grid-row: 4 / 6;
    grid-column: 4 / 9;
    color: #706f6f;   
}

.perfil {
  grid-row: 2 / 6;
  grid-column: 9 /11;
  background-size:     contain;                      
  background-repeat:   no-repeat;
  background-position: left center;  
  background-image: url(assets/splash.png);
  align-self: end;
}

.link-top{
  grid-row: 1;
  grid-column: 10 / 14;
  color: #2a9d8f;
  }
  .link-top-item{
  padding-left: 2em; 
}

.link-social-bar{
  grid-column: 1 / span 14;
  grid-row: 6;
  height: 40px;
  background-color: #264653;
  grid-auto-flow: column;
}

.link-social-item{
  padding-top: 3px;
  padding-left: 15px;
  justify-self: center;
  align-self: center;
}

.footer{
  grid-column: 1 / span 14;
  grid-row: 6;
}

.baixar-cv-btn-div{
  grid-column: 4 / 6;
  grid-row: 5;
}

.baixar-cv-btn{
    background:linear-gradient(to bottom, #e76f51 5%, #db9583 100%);
    background-color:#e76f51;
    border-radius:6px;
    border:1px solid #e76f51;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ad553e;
  }
  .baixar-cv-btn:hover {
    background:linear-gradient(to bottom, #db9583 5%, #e76f51 100%);
    background-color:#db9583;
  }
  .baixar-cv-btn:active {
    position:relative;
    top:1px;
  }

.Sobre-mim-info{
  grid-column: 4 / span 9;
  grid-row: 7;
  background-color: #2a9d8f;
}
.Sobre-mim-galeria{
  grid-column: 9 / 14;
  grid-row: 7;
  background-color: #2a9d8f;
} 

/*  TESTANDO CARROSSEL*/

.carousel {
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
}

.card {
  width: 100%;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  padding: 20px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.carousel {
  /* ... */
  > * {
    flex: 0 0 100%;
  }
}

/* Agrupe os cartões para melhorar a estrutura. */
.group {
  display: flex;
  gap: 20px;
  /* Adicione padding à direita para criar um espaço entre o último e o primeiro cartão. */
  padding-right: 20px;
}
.group {
  /* ... */
  will-change: transform; /* Devemos ser gentis com o navegador - informar o que vamos animar. */
  animation: scrolling 40S linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.carousel {
  /* ... */
  &:hover .group {
    animation-play-state: paused;
  }
}
